*{
  margin: 0;
  padding: 0;
}
body{
  background-color: green;
}
h1{
  text-align: center;
  font-size: 5vw;
  color: whitesmoke;
}
.video{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thevideo{
  height: 330px;
  width: 600px;
}
.blackbackground{
  background-color: black;
  margin: 3%;
  padding: 1.5%;
}
.audio{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.canvas{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}
